<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Green Orchard Productions</title>

  <!-- Extra -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/gop/logos/icon.png" type="image/x-icon">

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <!-- Default Fonts (IMPORTANT: Delete these if you are using a different body style!) -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet' type='text/css'>

  <!-- Modern Style Fonts (IMPORTANT: Delete these unless you are using body.modern!) -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>

  <!-- Vintage Style Fonts (IMPORTANT: Delete these unless you are using body.vintage!) -->
  <link href='https://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
  <link href="vendor/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
  <link href="vendor/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="vendor/formstone/background.css" rel="stylesheet" type="text/css">
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/device-mockups/device-mockups.min.css" rel="stylesheet" type="text/css">

  <!-- Vitality Theme CSS -->
  <link href="css/vitality-green.css" rel="stylesheet" type="text/css">

  <!-- IE8 support for HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>


<!-- NOTE: Use the .modern or .vintage class to the body element below to see different font pairings! -->

<body id="page-top" ng-app="myApp" ng-controller="myCtrl">
  <script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback( response ) {
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if ( response.status === 'connected' ) {
        // Logged into your app and Facebook.
        loadName();
      } else if ( response.status === 'not_authorized' ) {
        // The person is logged into Facebook, but not your app.
        window.location.href = "index.html";
      } else {
        // The person is not logged into Facebook, so we're not sure if they are logged into this app or not.
        window.location.href = "index.html";
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus( function( response ) {
        statusChangeCallback( response );
      });
    }

    function logoutOfFacebook() {
      FB.logout( function( response ) {
        window.location.href = "index.html";
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '387391341612779',
        cookie     : true,  // enable cookies to allow the server to access the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
      });

      FB.getLoginStatus( function( response ) {
        statusChangeCallback( response );
      });
    };

    // Load the SDK asynchronously
    ( function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk' ));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function loadName() {
      console.log( 'loadName()' );
      FB.api( '/me' + "?fields=id,name,email", function( response ) {
        document.getElementById( 'status' ).innerHTML = 'Thanks for logging in, ' + response.name + '!';

        // Transfer value to AngularJS
        document.getElementById( 'data-user-id' ).value = response.id + "\n";
        if ( "createEvent" in document ) {
          var evt = document.createEvent( "HTMLEvents" );
          evt.initEvent( "change", false, true );
          document.getElementById( 'data-user-id' ).dispatchEvent( evt );
        } else {
          document.getElementById( 'data-user-id' ).fireEvent( "onchange" );
        }
        // Transfer value to AngularJS
        document.getElementById( 'data-user-name' ).value = response.name + "\n";
        if ( "createEvent" in document ) {
          var evt = document.createEvent( "HTMLEvents" );
          evt.initEvent( "change", false, true );
          document.getElementById( 'data-user-name' ).dispatchEvent( evt );
        } else {
          document.getElementById( 'data-user-name' ).fireEvent( "onchange" );
        }
        // Transfer value to AngularJS
        document.getElementById( 'data-user-email' ).value = response.email + "\n";
        if ( "createEvent" in document ) {
          var evt = document.createEvent( "HTMLEvents" );
          evt.initEvent( "change", false, true );
          document.getElementById( 'data-user-email' ).dispatchEvent( evt );
        } else {
          document.getElementById( 'data-user-email' ).fireEvent( "onchange" );
        }
      });
    }
  </script>

  <!-- Navigation -->
  <!-- NOTE: .navbar-default and .navbar-inverse are both supported with this theme. -->
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <i class="fa fa-bars"></i> Menu
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                  <img src="img/gop/logos/gopMenuLogo.png" class="img-responsive" alt="Green Orchard Production">
              </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                  <a class="page-scroll" href="#page-top"></a>
              </li>
              <li style="margin: 14px; 10px; 10px; 10px;">
                <div class="page-scroll" style="color: white;" id="status"></div>
              </li>
              <li>
                  <a class="page-scroll" href="#about">About</a>
              </li>
              <li>
                  <a class="page-scroll" href="#process">Process</a>
              </li>
              <li>
                  <a class="page-scroll" href="#gallery">Gallery</a>
              </li>
              <li>
                  <a class="page-scroll" href="#pricing">Pricing</a>
              </li>
              <li>
                  <a class="page-scroll" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
  </nav>

  <!-- Header -->
  <header class="video">
      <div class="overlay"></div>
      <div class="intro-content" style="width: 100%;">
        <!-- HOLDER -->
        <img src="img/gop/logos/logo.png" class="img-responsive img-centered" alt="Green Orchard Productions" style="max-width: 70vw;">
        <hr class="colored">
        <div class="brand-name-subtext">by Rafael Mendoza</div>
        <br>
        <div class="row">
          <!--fb:login-button scope="public_profile,email" onlogin="logoutOfFacebook();"></fb:login-button-->
          <span id="fbLogout" onclick="logoutOfFacebook()"><a class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a></span>
        </div>
        <br>
      </div>
      <div class="scroll-down page-scroll">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down"></i></a>
      </div>
  </header>

  <!-- About Section -->
  <section id="about">
      <div class="container-fluid">
          <div class="row text-center">
              <div class="col-lg-12 wow fadeIn">
                  <h1>About Us</h1>
                  <p>GOP is here to provide our customers with a high quality service at an unbeatable price!</p>
                  <hr class="colored">
              </div>
          </div>
          <div class="row text-center content-row">
              <div class="col-lg-offset-2 col-lg-8 wow fadeIn">
                  <p>GOP is owned and run by brothers Marco Mendoza &amp; Rafael Mendoza. Rafael started shooting when he was 9 and has been passionate about capturing special moments ever since. GOP is committed to provide professional quality services at an affordable price. GOP’s vision is to expand nationally. Due to this, they will cover any major event or commercial work anywhere in the state of Washington. Call Green Orchard Productions if you need any type of portrait, commercial work, or event covered.</p>
                  <hr class="colored">
              </div>
          </div>
          <div class="row text-center content-row">
              <div class="col-lg-offset-3 col-lg-6 wow fadeIn">
                  <p>Non-profit, for the community, &amp; charity events qualify for reduced coverage!</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Team Section -->
  <section class="bg-gray">
      <div class="container text-center wow fadeIn">
          <div class="row">
              <div class="col-lg-12">
                  <h2>Our Team</h2>
                  <hr class="colored">
                  <p>We are a group of digital marketers with a passion for great art that serves a practical purpose.</p>
              </div>
          </div>
          <div class="row content-row">
              <div class="col-lg-12">
                  <div class="about-carousel">
                      <!-- Team Member 1 -->
                      <div class="item">
                          <div class="overlay"></div>
                          <img src="img/gop/people/rafa.jpg" class="img-responsive" alt="">
                          <div class="caption">
                              <h3>Rafael Mendoza</h3>
                              <hr class="colored">
                              <p>Founder and CEO</p>
                              <ul class="list-inline social">
                                  <li>
                                      <a href="https://www.facebook.com/rafael.mendoza.395?fref=ts"><i class="fa fa-facebook fa-fw"></i></a>
                                  </li>
                                  <li>
                                      <a href="http://imgwonders.com/user/mendoraf002/47649375/"><i class="fa fa-instagram fa-fw"></i></a>
                                  </li>
                                  <li>
                                      <a href="https://www.linkedin.com/in/rafael-mendoza-19196a5a"><i class="fa fa-linkedin fa-fw"></i></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <!-- Team Member 2 -->
                      <div class="item">
                          <div class="overlay"></div>
                          <img src="img/gop/people/marco.jpg" class="img-responsive" alt="">
                          <div class="caption">
                              <h3>Marco Mendoza</h3>
                              <hr class="colored">
                              <p>Founder</p>
                              <ul class="list-inline social">
                                  <li>
                                      <a href="https://www.facebook.com/marco.mendoza.129?fref=ts"><i class="fa fa-facebook fa-fw"></i></a>
                                  </li>
                                  <li>
                                      <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                                  </li>
                                  <li>
                                      <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <!-- Team Member 3 -->
                      <div class="item">
                          <div class="overlay"></div>
                          <img src="img/gop/people/jatna.jpg" class="img-responsive" alt="">
                          <div class="caption">
                              <h3>Jatna Urena</h3>
                              <hr class="colored">
                              <p>Moral Support</p>
                              <ul class="list-inline social">
                                  <li>
                                      <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                                  </li>
                                  <li>
                                      <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                                  </li>
                                  <li>
                                      <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Quote Call to Action -->
  <aside class="cta-quote" style="background-image: url( 'img/gop/scenery/barn.jpg' );">
      <div class="container wow fadeIn">
          <div class="row" style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;">
              <div class="col-md-10 col-md-offset-1">
                  <span class="quote">&quot;If a photographer <span class="text-primary">cares</span> about the people before the lens and is <span class="text-primary">compassionate</span>, much is given. It is the <span class="text-primary">photographer</span>, not the camera, that is the <span class="text-primary">instrument</span>.&quot; - Helmut Newton</span>
                  <hr class=" colored">
                  <a class="btn btn-outline-light page-scroll" href="#process">How We Work</a>
              </div>
          </div>
      </div>
  </aside>

  <!-- Process Section -->
  <section id="process" class="services bg-gray">
      <div class="container">
          <div class="row text-center">
              <div class="col-lg-12 wow fadeIn">
                  <h2>Our Process</h2>
                  <hr class="colored">
                  <p>Here is an overview of how we approach each new project.</p>
              </div>
          </div>
          <div class="row content-row">
              <!-- Process Item 1 -->
              <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                  <div class="media">
                      <div class="pull-left">
                          <i class="fa fa-clipboard"></i>
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Plan</h3>
                          <ul>
                              <li>Client Interview</li>
                              <li>Create a Shared Vision</li>
                              <li>Arrange Schedule and Location</li>
                              <li>Sign Contract and Pay Deposit</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- Process Item 2 -->
              <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                  <div class="media">
                      <div class="pull-left">
                          <i class="fa fa-camera"></i>
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Shoot</h3>
                          <ul>
                              <li>Review Shared Vision</li>
                              <li>Receive Remaining Balance</li>
                              <li>Take Photographs</li>
                              <li>Answer Additional Questions</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- Process Item 3 -->
              <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                  <div class="media">
                      <div class="pull-left">
                          <i class="fa fa-pencil"></i>
                      </div>
                      <div class="media-body">
                          <h3 class="media-heading">Edit</h3>
                          <ul>
                              <li>Review Images Thoroughly</li>
                              <li>Discard Flawed Images</li>
                              <li>Edit Each Picture Individually</li>
                              <li>Deliver Hi-Resolution Product</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Gallery Grid Section -->
  <section id="gallery">
      <div class="container text-center wow fadeIn">
          <h2>Gallery</h2>
          <hr class="colored">
          <div class="fb-like text-center row" data-share="true" data-width="0" data-show-faces="false" style="margin-left: 18px;"></div>
          <div class="row content-row">
              <div class="col-lg-12">
                  <div class="portfolio-filter">
                      <ul id="filters" class="clearfix">
                          <li>
                              <button class="filter {{site.allActive}}" ng-click="filterPortfolioPhotos( 'all' )">All</button>
                          </li>
                          <li>
                              <button class="filter {{site.weddingActive}}" ng-click="filterPortfolioPhotos( 'WEDD' )">Wedding</button>
                          </li>
                          <li>
                              <button class="filter {{site.sceneryActive}}" ng-click="filterPortfolioPhotos( 'SCEN' )">Scenery</button>
                          </li>
                          <li>
                              <button class="filter {{site.autoActive}}" ng-click="filterPortfolioPhotos( 'AUTO' )">Autos</button>
                          </li>
                          <li>
                              <button class="filter {{site.graphicActive}}" ng-click="filterPortfolioPhotos( 'GRPH' )">Graphics</button>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div id="portfoliolist">
                      <div ng-repeat="x in site.portfolio.photos" class="mix" href="{{x.photo}}" title="Client Name">
                          <div class="portfolio-wrapper">
                              <img class="img-responsive" src="{{x.photo}}" type="button" data-toggle="modal" data-target="#fullScreenModal" alt="{{x.photo}}" ng-click="updatePhoto( x.photo )">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Testomonials Section -->
  <section class="testimonials bg-gray">
      <div class="container wow fadeIn">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <div class="testimonials-carousel">
                      <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
                      <!-- Testimonial Item 1 -->
                      <div class="item">
                          <div class="row">
                              <div class="col-lg-12">
                                  <p class="lead">"Amazing to work with"</p>
                                  <hr class="colored">
                                  <p class="quote">Amazing to work with and even better pictures!! I will decently use him again :)</p>
                                  <div class="testimonial-info">
                                      <div class="testimonial-img">
                                          <img src="img/gop/people/shannonCochron.jpg" class="img-circle img-responsive" alt="shannonCochron.jpg">
                                      </div>
                                      <div class="testimonial-author">
                                          <span class="name">Shannon Cochran</span>
                                          <p class="small">customer</p>
                                          <div class="stars">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Testimonial Item 2 -->
                      <div class="item">
                          <div class="row">
                              <div class="col-lg-12">
                                  <p class="lead">"Excellent quality"</p>
                                  <hr class="colored">
                                  <p class="quote">Thank you Rafa for these great memories! Excellent quality, and hard work from you and your brother!</p>
                                  <div class="testimonial-info">
                                      <div class="testimonial-img">
                                          <img src="img/gop/people/antonioCorona.jpg" class="img-circle img-responsive" alt="antonioCorona.jpg">
                                      </div>
                                      <div class="testimonial-author">
                                          <span class="name">Antonio Corona</span>
                                          <p class="small">customer</p>
                                          <div class="stars">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Testimonial Item 3 -->
                      <div class="item">
                          <div class="row">
                              <div class="col-lg-12">
                                  <p class="lead">"Wish we had found you sooner!"</p>
                                  <hr class="colored">
                                  <p class="quote">Thrilled with the pictures of my daughter! Wish we had found you sooner!!</p>
                                  <div class="testimonial-info">
                                      <div class="testimonial-img">
                                          <img src="img/gop/people/danelleTiller-Herr.jpg" class="img-circle img-responsive" alt="danelleTiller-Herr.jpg">
                                      </div>
                                      <div class="testimonial-author">
                                          <span class="name">Danelle Tiller-Herr</span>
                                          <p class="small">customer</p>
                                          <div class="stars">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Testimonial Item 4 -->
                      <div class="item">
                          <div class="row">
                              <div class="col-lg-12">
                                  <p class="lead">"I would give more than 5 stars if I could!"</p>
                                  <hr class="colored">
                                  <p class="quote">I would give more than 5 stars if I could! Thank you so much for being a part of our engagement experience! I absolutely love my pictures and will cherish them forever! Since it was a surprise engagement, I didn't have time to research the engagement photo shots I wanted, but Rafa took the lead and gave me the exact shots I wanted. He is also so personable and is a pleasure to have at such a special time. I would highly recommend Green Orchard to anyone!</p>
                                  <div class="testimonial-info">
                                      <div class="testimonial-img">
                                          <img src="img/gop/people/julianne.jpg" class="img-circle img-responsive" alt="julianne.jpg">
                                      </div>
                                      <div class="testimonial-author">
                                          <span class="name">Julianne Gomez</span>
                                          <p class="small">customer</p>
                                          <div class="stars">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Testimonial Item 5 -->
                      <div class="item">
                          <div class="row">
                              <div class="col-lg-12">
                                  <p class="lead">"impressive portfolio"</p>
                                  <hr class="colored">
                                  <p class="quote">I have been and will continue being a customer of Green Orchard Photography. After seeing his impressive portfolio, I had Rafa take my family pictures. A few months later, he was photographing my engagement and the results were amazing! Now I can't wait for Rafa to shoot my wedding!</p>
                                  <div class="testimonial-info">
                                      <div class="testimonial-img">
                                          <img src="img/gop/people/panchBear.jpg" class="img-circle img-responsive" alt="panchBear.jpg">
                                      </div>
                                      <div class="testimonial-author">
                                          <span class="name">Francisco Cuevas</span>
                                          <p class="small">customer</p>
                                          <div class="stars">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Pricing Section -->
  <section id="pricing" class="pricing" style="background-image: url( 'img/gop/wedding/certificate.jpg' );"> <!-- GIVE ME A DARK PICTURE -->
      <div class="container wow fadeIn">
          <div class="pricing-carousel wow fadeIn" style="background-color: transparent;">
              <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
              <!-- Carousel Item 1 -->
              <div class="item">
                  <div class="container-fluid">
                      <div class="row text-center" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                          <h2>Photo Shoot Pricing</h2>
                          <hr class="colored">
                      </div>
                      <div class="row">
                          <div class="row content-row">
                              <!-- Pricing Table 1 -->
                              <div class="col-md-4">
                                  <div class="pricing-item featured-first">
                                      <h3>Singles</h3>
                                      <hr class="colored">
                                      <div class="price"><span class="number"><sup>$</sup>125</span></div>
                                      <ul class="list-group">
                                          <li class="list-group-item">1 Hour Photo Shoot</li>
                                          <li class="list-group-item">USB with Images</li>
                                          <li class="list-group-item">Up to 25 Edited Pictures</li>
                                      </ul>
                                      <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#packageModal" ng-click="loadPackage( 'singles' )">View Package</a>
                                  </div>
                              </div>
                              <!-- Pricing Table 2 -->
                              <div class="col-md-4">
                                  <div class="pricing-item featured">
                                      <h3>Family</h3>
                                      <hr class="colored">
                                      <div class="price"><span class="number"><sup>$</sup>250</span></div>
                                      <ul class="list-group">
                                          <li class="list-group-item">1 Hour Photo Shoot</li>
                                          <li class="list-group-item">USB with Images</li>
                                          <li class="list-group-item">Up to 35 Edited Pictures</li>
                                      </ul>
                                      <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#packageModal" ng-click="loadPackage( 'family' )">View Package</a>
                                  </div>
                              </div>
                              <!-- Pricing Table 3 -->
                              <div class="col-md-4">
                                  <div class="pricing-item featured-last">
                                      <h3>Couples</h3>
                                      <hr class="colored">
                                      <div class="price"><span class="number"><sup>$</sup>175</span></div>
                                      <ul class="list-group">
                                          <li class="list-group-item">1 Hour Photo Shoot</li>
                                          <li class="list-group-item">USB with Images</li>
                                          <li class="list-group-item">Up to 30 Edited Pictures</li>
                                      </ul>
                                      <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#packageModal" ng-click="loadPackage( 'couples' )">View Package</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Carousel Item 2 -->
              <div class="item">
                  <div class="container-fluid">
                      <div class="row text-center" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                          <h2>Wedding Pricing</h2>
                          <hr class="colored">
                      </div>
                      <div class="row">
                          <div class="row content-row">
                              <!-- Pricing Table 1 -->
                              <div class="col-md-4">
                                  <div class="pricing-item featured-first">
                                      <h3>Bronze</h3>
                                      <hr class="colored">
                                      <div class="price"><span class="number"><sup>$</sup>1000</span></div>
                                      <ul class="list-group">
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Engagement Session</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">USB with Images</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Printing Rights</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">1 Photographer</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">6 Hours of Coverage</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">-</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">-</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">-</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">-</li>
                                      </ul>
                                      <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#packageModal" ng-click="loadPackage( 'singles' )">View Package</a>
                                  </div>
                              </div>
                              <!-- Pricing Table 2 -->
                              <div class="col-md-4">
                                  <div class="pricing-item featured">
                                      <h3>Silver</h3>
                                      <hr class="colored">
                                      <div class="price"><span class="number"><sup>$</sup>1800</span></div>
                                      <ul class="list-group">
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Engagement Session</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">USB with Images</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Printing Rights</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">2 Photographers</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">8 Hour Coverage</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">18x24 Framed Photo</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Hardcover Album</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">-</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">-</li>
                                      </ul>
                                      <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#packageModal" ng-click="loadPackage( 'singles' )">View Package</a>
                                  </div>
                              </div>
                              <!-- Pricing Table 3 -->
                              <div class="col-md-4">
                                  <div class="pricing-item featured-last">
                                      <h3>Gold</h3>
                                      <hr class="colored">
                                      <div class="price"><span class="number"><sup>$</sup>2500</span></div>
                                      <ul class="list-group">
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Engagement &amp; Maternity Session</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">USB with Images</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Printing Rights</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">2 Photographers</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">10 Hour Coverage</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">24x36 Framed Photo</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Hardcover Album</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Three 18x24 Photos</li>
                                          <li class="list-group-item" style="margin: -10px 0 -10px 0px;">Two Paperback Albums</li>
                                      </ul>
                                      <a href="#" class="btn btn-outline-dark" data-toggle="modal" data-target="#packageModal" ng-click="loadPackage( 'singles' )">View Package</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
      <div class="container wow fadeIn">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Contact Us</h2>
                  <hr class="colored">
                  <p>Please tell us about your next project and we will let you know what we can do to help you.</p>
              </div>
          </div>
          <div class="row content-row">
              <div class="col-lg-8 col-lg-offset-2">
                  <form name="sentMessage" id="contactForm" novalidate>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls" style="border-bottom: 1px solid #e1e1e1;">
                              <label>Name</label>
                              <input type="text" class="form-control" placeholder="Name" id="name" value="{{data.user.name}}" required data-validation-required-message="Please enter your email address.">
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls" style="border-bottom: 1px solid #e1e1e1;">
                              <label>Email Address</label>
                              <input type="email" class="form-control" placeholder="Email Address" id="email" value="{{data.user.email}}" required data-validation-required-message="Please enter your email address.">
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls" style="border-bottom: 1px solid #e1e1e1;">
                              <label>Phone Number</label>
                              <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Message</label>
                              <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <br>
                      <div id="success"></div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-outline-dark">Send</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>

  <!-- Team Section -->
  <section class="bg-gray">
      <div class="container text-center wow fadeIn">
          <div class="row">
              <div class="col-lg-12">
                  <h2>Partners</h2>
                  <hr class="colored">
                  <p>As photographers, we constantly collaborate with other companies to in order to provide you, our customers, with the best experience possible.</p>
              </div>
          </div>
          <div class="row content-row">
              <div class="col-lg-12">
                  <div class="about-carousel" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                      <!-- Partner 1 -->
                      <div class="item">
                          <div class="overlay"></div>
                          <img src="img/gop/people/panch.jpg" class="img-responsive" alt="">
                          <div class="caption">
                              <h3>Francisco Cuevas</h3>
                              <hr class="colored">
                              <p>Full Stack Web Developer</p>
                              <ul class="list-inline social">
                                  <li>
                                      <h4><a href="https://www.facebook.com/francisco.cuevas.752?pnref=lhc"><i class="fa fa-facebook fa-fw"></i></a></h4>
                                  </li>
                                  <li>
                                      <h4><a href="https://www.linkedin.com/in/francisco-cuevas-53366a88"><i class="fa fa-linkedin fa-fw"></i></a></h4>
                                  </li>
                              </ul>
                              <ul class="list-inline social">
                                  <li>
                                    <p>(804)-968-8522</p>
                                  </li>
                                  <li>
                                    <p>Francisco.Cuevas@Richmond.edu</p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <!-- Partner 2 -->
                      <div class="item">
                          <div class="overlay"></div>
                          <img src="img/gop/people/amyRene.jpg" class="img-responsive" alt="">
                          <div class="caption">
                              <h3>Amy Rene</h3>
                              <hr class="colored">
                              <p>Makeup Artist</p>
                              <ul class="list-inline social">
                                  <li>
                                      <h4><a href="https://www.facebook.com/amyrenemua/"><i class="fa fa-facebook fa-fw"></i></a></h4>
                                  </li>
                                  <li>
                                      <h4><a href="https://www.instagram.com/amyrene_mua/"><i class="fa fa-instagram fa-fw"></i></a></h4>
                                  </li>
                              </ul>
                              <ul class="list-inline social">
                                  <li>
                                    <p>(555)-213-4567</p>
                                  </li>
                                  <li>
                                    <p>amyrenemua@gmail.com</p>
                                  </li>
                              </ul>
                              <ul class="list-inline social">
                                <li>
                                  <p><a href="http://amyrene.com">Visit Site</a></p>
                                </li>
                              </ul>
                          </div>
                      </div>
                      <!-- Partner 3 -->
                      <div class="item">
                          <div class="overlay"></div>
                          <img src="img/gop/people/ads.jpg" class="img-responsive" alt="">
                          <div class="caption">
                              <h3>ADS Window Tinting</h3>
                              <hr class="colored">
                              <p>Window Tinters</p>
                              <ul class="list-inline social">
                                  <li>
                                      <h4><a href="https://www.facebook.com/ADSWindowTint/"><i class="fa fa-facebook fa-fw"></i></a></h4>
                                  </li>
                              </ul>
                              <ul class="list-inline social">
                                  <li>
                                      <p>(509)-737-9891</p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Block Button Call to Action -->
  <a href="#pricing" class="btn btn-block btn-full-width">Book Us Now!</a>

  <!-- HOLDER -->
  <div ng-show="false" class="form-group">
    <input type="text" class="form-control" id="data-user-id" ng-model="data.user.id" value="" />
    <input type="text" class="form-control" id="data-user-name" ng-model="data.user.name" value="" />
    <input type="text" class="form-control" id="data-user-email" ng-model="data.user.email" value="" />
  </div>

  <!-- Footer -->
  <footer class="footer" style="background-image: url( 'img/gop/scenery/footer.jpg' )">
      <div class="container text-center">
          <div class="row" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <div class="col-md-4 contact-details">
                  <h3><i class="fa fa-phone"></i> Call</h3>
                  <p>555-213-4567</p>
              </div>
              <div class="col-md-4 contact-details">
                  <h3><i class="fa fa-map-marker"></i> Visit</h3>
                  <p>3481 Melrose Place
                      <br>Beverly Hills, CA 90210</p>
              </div>
              <div class="col-md-4 contact-details">
                  <h3><i class="fa fa-envelope"></i> Email</h3>
                  <p><a href="mailto:mail@example.com">mail@example.com</a>
                  </p>
              </div>
          </div>
          <div class="row social" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <div class="col-lg-12">
                  <ul class="list-inline">
                      <li><a href="https://www.facebook.com/GreenOrchardPhoto/"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                      </li>
                      <li><a href="https://www.linkedin.com/in/rafael-mendoza-19196a5a"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="row copyright" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <div class="col-lg-12">
                  <p class="small">Brought to you by <i><strong><a href="https://www.linkedin.com/in/francisco-cuevas-53366a88">Francisco Cuevas</a></strong></i></p>
              </div>
          </div>
      </div>
  </footer>

  <!-- - - - - -  MODALS - - - - - -->

  <!-- Picture Modal -->
  <div id="fullScreenModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img class="img-responsive" src="{{site.activePhoto}}">
        </div>
      </div>
    </div>
  </div>

  <!-- Package Modal -->
  <div id="packageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-image:url( 'img/gop/uploads/wedding2.jpg' ); background-size:auto 100%;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
        <div class="modal-header">
          <p class="close" style="color:green;opacity:0.75;">${{ site.packageForm.price }}</p>
          <h4 class="modal-title">Build Your Own Photoshoot <span style="color:green;opacity:0.75;">{{ site.packageForm.subtitle }}</span></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="myUpdateForm" role="form">
            <feildset>
              <div class="form-group">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="numPeople" style="text-align: left;"># of People:</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="range" name="numPeople" id="numPeople" value="{{site.packageForm.numPeople}}" min="1" max="10" step="1" ng-model="site.packageForm.numPeople" ng-change="updatePrice()">
                    </div>
                    <div class="col-sm-3">
                      <input class="form-control" type="input" value="{{site.packageForm.numPeople}}" style="text-align: center;" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="hours" style="text-align: left;">Hours:</label>
                    <div class="col-sm-5">
                      <input class="form-control" type="range" name="hours" id="hours" value="{{site.packageForm.hours}}" min="0.5" max="3" step="0.5" ng-model="site.packageForm.hours" ng-change="updatePrice()">
                    </div>
                    <div class="col-sm-3">
                      <input class="form-control" type="input" value="{{site.packageForm.hours}}" style="text-align: center;" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="numPhotos" style="text-align: left;"># of Edited Photos:</label>
                    <div class="col-sm-6">
                      <input class="form-control" type="range" name="numPhotos" id="numPhotos" value="{{site.packageForm.numPhotos}}" min="15" max="100" step="5" ng-model="site.packageForm.numPhotos" ng-change="updatePrice()">
                    </div>
                    <div class="col-sm-3">
                      <input class="form-control" type="input" value="{{site.packageForm.numPhotos}}" style="text-align: center;" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="form-group col-sm-12 floating-label-form-group controls" style="border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;">
                      <label>Phone Number</label>
                      <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                      <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="form-group col-sm-12 floating-label-form-group controls">
                      <label>Message</label>
                      <textarea rows="2" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                      <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
            </feildset>
          </form>
        </div>
        <div class="modal-footer">
          <p style="position:absolute; color:green; opacity:0.75;"><strong>${{ site.packageForm.price }}</strong></p>
          <button type="button" class="btn btn-outline-dark" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Sends an email to GOP and you, the client, with your request and the next steps.">Send Inquiry</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Core Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <!-- Plugin Scripts -->
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/owl-carousel/owl.carousel.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="vendor/formstone/core.js"></script>
  <script src="vendor/formstone/transition.js"></script>
  <script src="vendor/formstone/background.js"></script>
  <script src="vendor/mixitup/jquery.mixitup.js"></script>
  <script src="vendor/wow/wow.min.js"></script>

  <!-- Contact Form Scripts -->
  <script src="js/contact_me.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>

  <!-- Vitality Theme Scripts -->
  <script src="js/vitality.js"></script>

  <!-- Angular -->
  <script src="js/angular.min.js"></script>
  <script src="js/myApp.js"></script>
  <script src="js/myCtrl.js"></script>

  <!-- Popover -->
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();   
    });
  </script>
</body>

</html>
